*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.header{
  height:50px;
  background-color: aliceblue;
  width:100%;
  font-size:30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-dark{
  background-color: rgb(12, 14, 16);
  color:white;
}

.home{
  min-height:100vh;
  background-color: bisque;
  width: 100%;
}
.home-dark{
  background-color: darkblue;
color:white;
}
.form{
 height:200px;
 background-color: cadetblue;
 width:50%;
 margin:10px auto;
}
.form-dark{
  background-color: rgb(46, 17, 3);
  color:white;
}
.profile{
  height:200px;
  background-color:coral;
  width:50%;
  margin:10px auto;
 }
 .profile-dark{
  background-color: rgb(17, 48, 3);
  color:white;
 }
.footer{
  height:50px;
  background-color: aliceblue;
  width:100%;
  font-size:30px;
  
}
.footer-dark{
  background-color: rgb(12, 14, 16);
  color:white;
}
.btn{
  background-color: aqua;
  border:none;
  padding:8px 16px;
  border-radius: 8px;
  cursor:pointer;
}
.btn-dark{
  background-color: red;
  color:white;
}